<div class="user-details-popup">
  <div class="close-icon">&#10006;</div>
  <img [src]="user.picture.medium" alt="{{ user.fullName.first }} {{ user.fullName.last }}">
  <h2>{{ user.fullName.title }}. {{ user.fullName.first }} {{ user.fullName.last }}</h2>
  <p><strong>Phone:</strong> {{ user.phone }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>State:</strong> {{ user.location.state }}</p>
  <p><strong>Country:</strong> {{ user.location.country }}</p>
  <p><strong>City:</strong> {{ user.location.city }}</p>
</div>
